<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Detalles de {{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content class="ion-text-center">
      <ion-grid>
        <!-- Poster  -->
        <ion-col class="image">
          <img [src]="poster" style="height: 250px;width: 175px;" class="info-img ion-float-left">
        </ion-col>
    
        <!-- Seccion de la descripcion  -->
        <ion-col>
          <ion-item lines="none" class="description">
            <ion-label position="fixed" color="primary">Resumen</ion-label>
            <ion-textarea>{{ description }}</ion-textarea>
          </ion-item>
        </ion-col>
    
        <ion-list scroll="true" class="cast_list_title">
          <ion-row>
            <ion-col>
              <ion-label color="primary">Actor</ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="primary">Rol</ion-label>
            </ion-col>
          </ion-row>

          <!-- Listado de actores -->
          <ion-row *ngFor="let item of (cast | async)">
            <ion-col>{{ item.name }}</ion-col >
            <ion-col>{{ item.character }}</ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
