<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Buscador de películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- Barra de busqueda -->
    <ion-searchbar color="light" value="Ionic" [(ngModel)]="searchChain" (ionChange)="search($event)"></ion-searchbar>
    
    <!-- Listado de resultados -->
    <ion-list>
      <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'details', item.id]">
        <ion-text>{{ item.title }}</ion-text>
      </ion-item>
    </ion-list>
  
  </div>
</ion-content>
